#website_container {
    background: $primary;
    height: auto;
    width: 100%;
}

#website_button {
    background: $primary;
    color: white;
    border: none;
    min-width: 1;
}

#website_label {
    background: white;
    color: black;
    width: 30vw;
    padding: 0 1;
}